.section-banner {
    position: relative;
    /* display: flex; */
    justify-content: center;
    margin-bottom: 12em;
    margin-top: 6em;
}
.section-banner .slick-dots{
    bottom: -8em;
}
.badge {
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #000000;
    background: white;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 8px;
    border: 1px solid rgba(83, 84, 97, 0.8);
    text-transform: uppercase;
}
.about-desc .btn-selengkapnya {
    margin-top: 25px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.content-banner {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}
.content-banner > div {
    flex-grow: 1;
    max-width: 540px;
    margin-left: 40px;
    margin-right: 40px;
}
.banner-text .sub-text {
    color: rgba(83, 84, 97, 0.8);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.section-benefits .sub-text{
    line-height: 30px;
}
.banner-text .title2-sec {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1.2px;
}
.banner-text .title2-sec,
.banner-text .sub-text {
    text-align: right;
    margin: 0;
    padding-bottom: 30px;
}
.txt-home.title-sec {
    margin-bottom: 20px;
    margin-top: initial;
}
.group-benefit-card {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8em;
    max-width: 960px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.item-benefit-card {
    max-width: 380px;
    height: 525px;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
    transition: all ease 500ms;
}
.item-benefit-card:nth-child(even) {
    margin-top: 6em;
}
.title-benefit {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #535461;
    margin-top: 50px;
}
.content-benefit {
    padding-left: 60px;
    padding-right: 60px;
}
.content-benefit p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
}
.type-partners {
    color: #535461;
    width: 310px;
}
.list-partners {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 34px;
}
.partners-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1.2px;
}
.partners-title-sub {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 10px;
}
.item-partners {
    margin-bottom: 44px;
    margin-right: 25px;
}
.group-partners {
    display: flex;
    flex-flow: row wrap;
    max-width: 1130px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    padding-left: 10px;
    padding-right: 10px;
}
.section-partners, .section-contact-us, .section-benefits {
    margin-top: 8vw;
}
.section-about{
    margin-bottom: 4em;
}
.section-banner-gallery {
    background: linear-gradient(15.45deg, #ff9a54 13.03%, #fac840 94.81%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;
}
.group-text {
    color: #ffffff;
    max-width: 455px;
    margin-right: 6em;
}
.group-text .title-banner {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 1em;
}
.group-text .title-sub-banner {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 5em;
}
.group-image img {
    max-width: 100%;
    height: 324px;
}
.btn.btn-to-galleries {
    padding: 11px 25px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}
.section-contact-us {
    margin-bottom: 12em;
}
.section-contact-us .sub-text {
    line-height: 36px;
}
.section-contact-us .title-sec {
    margin-bottom: 8px;
}
.form-left,
.form-right {
    width: 572px;
    margin: 0px 45px;
}
.group-input {
    margin-bottom: 24px;
}
.group-input label {
    font-size: 18px;
    color: #434755;
    margin-bottom: 20px;
    display: inline-block;
}
.group-btn-send .noted {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
    max-width: 300px;
}
.group-btn-send {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.group-btn-send .btn {
    width: 134px;
    height: 60px;
}
.group-form {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.li-contact span {
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #434755;
}
.li-contact img {
    vertical-align: top;
    margin-right: 10px;
}
.group-to-contact {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-left: 20px;
    padding-right: 20px;
}
.banner-text .badge {
    margin-bottom: 10px;
}

.see-more {
    text-align: right;
    max-width: 1130px;
    margin: 0px auto;
}
.see-more a{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #76ae29;
    margin-right: 25px;
}
@media (min-width: 1100px){
    .item-benefit-card:hover{
        transform: translate(0, -3%);
    }
}
@media (max-width: 1200px) {
    .content-banner {
        flex-flow: column;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        align-items: center;
    }
    .banner-text{
        margin-bottom: 30px;
    }
    .banner-text .title2-sec,
    .banner-text .sub-text {
        text-align: center;
    }
    .banner-image img {
        max-width: 100%;
    }
    .section-about {
        background-color: white;
    }
    .section-about .row:nth-child(2) {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .section-banner-gallery {
        flex-flow: column;
        height: auto;
        padding: 4em;
        justify-content: center;
    }
    .group-text {
        margin: auto;
        padding-bottom: 30px;
    }
    .group-partners {
        padding-left: 2em;
        padding-right: 2em;
        justify-content: space-around;
    }
}
@media (max-width: 768px) {
    .group-benefit-card {
        justify-content: center;
    }
    .item-benefit-card:nth-child(even) {
        margin-top: auto;
    }
    .item-benefit-card {
        margin-bottom: 6em;
    }
    .group-to-contact {
        flex-flow: column;
        text-align: center;
    }
    .li-contact {
        margin-bottom: 10px;
    }
    .group-form {
        flex-flow: column;
    }
    .form-left,
    .form-right {
        width: auto;
    }
    .group-image img{
        height: auto;
    }
}
@media (max-width: 414px){
    .group-btn-send {
        flex-flow: column;
    }
    .group-btn-send .noted{
        margin-bottom: 25px;
    }
}
