.sub-text {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #535461;
    display: block;
}
.section-kategori .title-sec,
.section-testimony .title-sec {
    margin-bottom: 8px;
}
.kategori-item {
    max-width: 332px;
    background-color: white;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    display: inline-block;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 40px;
}
.kategori-item:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.kategori-item img {
    max-width: 100%;
}
.kategori-name {
    font-size: 20px;
    color: #000000;
    padding: 32px 30px;
}
.group-kategori {
  max-width: 1225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .group-kategori{
    text-align: center;
  }
}
